*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    color:#000000;
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2em;
}   

.header-container{
    border-bottom: 2px solid #7bdff2;

}

.nav-container{
    display: flex;

}

.div-li{
    display: flex;
    background:#5a189a;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    
}

.div-li a{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    
}
.div-li a:hover {
    color:#7bdff2;
    border-bottom: 2px solid #7bdff2;

}


.div-li img {
    width: 180px;
    height: 50px;
    padding-bottom:5px; 
    
}

    




.main-fondo{
    background-image: url("teclado.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1500px 800px ;
    height: 1000px;
    width: 100%;
    color: white;
    
    
  
}


.main-fondo-titulos{
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
 
    height: 1000px;
    
    color: #ffffff ;
    
        
}

button{
    width: 30%;
    height: 50px;
    border-radius: 10px;
    background:#FFEB3B ;
    color: #5a189a;
}






.h2-servicio{
    background:#5a189a ; 
    color:#ffffff;   
}


.container-card{
    display: flex;  
    flex-direction:row ;
    justify-content: space-evenly ;
    align-items: center;
    background: #5a189a;
    height: 800px;

    
}

.div-card{
    display:flex;
    flex-direction: column;
    border: 2px solid #7bdff2;
    border-radius: 20px;
    height: 600px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    background:#000000 ;
    color: #ffffff;
    text-align: center;
}

.div-card img{
    width:100px ;
    height:100px ;
    border-radius: 50%;
    border: 2px solid #7bdff2;
}





.div-card2{
    display:flex;
    flex-direction: column;
    border: 2px solid #7bdff2;
    border-radius: 20px;
    height: 600px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    background:#000000 ;
    color: #ffffff;
    text-align: center;
}

.div-card2 img{
    width:100px ;
    height:100px ;
    border-radius: 50%;
    border: 2px solid #7bdff2;
}







.container-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background:#5a189a ;
    height: 800px;
    
    
}

.container-form img{
    width: 600px;
    height: 400px;
    border-radius: 20px;
    
}
.form-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    color: #ffffff;
    border-radius: 20px;
    width: 30%;
    background:#000000;
    border: 2px solid #7bdff2;
}
.form-input input {
    width: 300px;
    height: 50px;
}

.form-input textarea{
    width: 300px;   
}


.h3-comentario{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: #5a189a;
    
}

.h2-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background:#5a189a;
}







.footer{
    background:#5a189a ;
    color: #ffffff;
    height: 400px;
    border-top: 2px solid  #7bdff2 ;
}

.div-contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;

    
}

.div-contacto li{
    list-style: none;
}

.div-contacto a i{
    color: #ffffff;
    margin: 40px;
    font-size: 30px;
 
}

.div-contacto a i:hover{
    color: #7bdff2;
}

.div-redes{
    display: flex;
    
}

